<h1>Doctor Info:</h1>

<div>
  <h3><%= @doctor.name %></h3>
  <h3><%= @doctor.specialty %></h3>
  <h3><%= @doctor.university %></h3>

  <h4>Hospital:</h4>
  <h4><%= @doctor.hospital.name %></h4>
  <h4>Patients:</h4>
  <% @doctor.patients.each do |patient| %>
    <section id="patient-<%= patient.id %>">
      <ul>
        <li><%= patient.name %></li>
      </ul>
      <%= form_tag "/patients/#{patient.id}", method: :delete do %>
        <%= submit_tag 'Remove' %>
      <% end %>
    </section>
  <% end %>
</div>
